[submodule "web"]
	path = web
	url = git@github.com:bengeek06/web-waterfall.git
[submodule "services/auth_service"]
	path = services/auth_service
	url = git@github.com:bengeek06/auth-api-waterfall.git
[submodule "services/identity_service"]
	path = services/identity_service
	url = git@github.com:bengeek06/identity-api-waterfall.git
[submodule "services/guardian_service"]
	path = services/guardian_service
	url = git@github.com:bengeek06/guardian-api-waterfall.git
[submodule "tests"]
	path = tests
	url = git@github.com:bengeek06/e2e-waterfall.git
[submodule "services/basic_io_service"]
	path = services/basic_io_service
	url = https://github.com/bengeek06/basic-io-api-waterfall.git
[submodule "services/storage_service"]
	path = services/storage_service
	url = https://github.com/bengeek06/storage-api-waterfall.git
